body{
    background-color: lightgray;
}

.navbar-brand {
    background-color:teal;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
}

h1{
    color:teal;
}

h3{
    color:teal;
}

h2{
    color:teal;
}

.col-md-6{
    background-color: white;
    margin-left: 100px;
}

.col-md-5{
    background-color: white;
    margin-left: 100px;
}

.col-md-4{
    background-color: white;
    margin-left: 50px;
    height: 450px;
}

.dataframe{
    background-color: whitesmoke;
    margin-left: 150px;
}

tr{
    text-align:center;
}

#dataheader{
    background-color:white;
}

#comparison_div{
    background-color:white;
}